<nav class="navbar navbar-expand-lg a4l-menu">
  <div class="row">
    <div class="col-12 nopadding text-center">
      <a class="navbar-brand" href="#">
        <img src="assets/images/LeARN-Logo-white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
     <div class="col-12 nopadding">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto grp-icon row ">
          <li class="col-12 nav-item active">
            <a class="nav-link" routerLink="/home">
              <span class="icon icon-home-on active"></span>
              <!-- Home <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="col-12 nav-item">
            <a class="nav-link" routerLink="/home/student">
              <span class="icon icon-bookmark-off"></span>
              收藏
            </a>
          </li>
          <li class="col-12 nav-item">
            <a class="nav-link" routerLink="/home/student">
              <span class="icon icon-school-off"></span>
              學校
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row main-menu">
   
  </div>
</nav>