@import '~bootstrap/dist/css/bootstrap.min.css';
.nopadding {
  padding: 0 !important;
}
.btn-green-o {
  border: 2px solid #165c30;
}
.btn-radius {
  border-radius: 30px;
}
.a4l-topbar {
  padding-left: 8%;
  background: #fff;
  z-index: 1;
}
.a4l-topbar .button-login {
  display: flex;
}
.a4l-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 8%;
  background: url("assets/images/bg-sidebar-desk.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  z-index: 2;
}
.a4l-menu a.navbar-brand {
  width: 100px;
}
.a4l-menu a.navbar-brand img {
  width: 100%;
}
.a4l-menu ul.navbar-nav {
  margin: 0;
}
.a4l-menu ul.navbar-nav li {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.a4l-menu ul.navbar-nav li.active {
  background: url("assets/images/white-selection.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120px;
  padding: 50px 0;
}
.a4l-menu ul.navbar-nav li.active a {
  color: green;
  padding-right: 20px;
}
.a4l-menu ul.navbar-nav li a {
  color: #fff;
}
.grp-icon .icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.grp-icon .icon.icon-home-off {
  background: url("assets/images/icon/home-off.png");
}
.grp-icon .icon.icon-home-on {
  background: url("assets/images/icon/home-on.png");
}
.grp-icon .icon.icon-bookmark-off {
  background: url("assets/images/icon/bookmark-off.png");
}
.grp-icon .icon.icon-bookmark-on {
  background: url("assets/images/icon/bookmark-on.png");
}
.grp-icon .icon.icon-school-off {
  background: url("assets/images/icon/school-off.png");
}
.grp-icon .icon.icon-school-on {
  background: url("assets/images/icon/school-on.png");
}
.grp-icon .icon.icon-logged-in {
  background: url("assets/images/logged_in_icon.png");
}
.main-content {
  padding-left: 8%;
  margin-top: 70px;
}
